body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrap-container-bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.container-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-image: url(../img/bg_galaxy.jpg);*/
}

.wrap-logo {
    width: 300px;
    height: 100px;
    background-color: #ddd;
    position: absolute;
    left: 100px;
    top: 50px;
}

.top-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.top-title>h2 {
    display: inline-block;
    font-size: 32px;
    color: #fff;
    letter-spacing: 23px
}

.wrap-globe {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 100px auto;
}

.globe-content {
    position: absolute;
    top: 0;
    left: 0;
}

.globe-front {
    position: absolute;
    top: -73px;
    left: -54px;
    background-color: #ddd;
    width: 600px;
    height: 600px;
}
.globe-front.move-right-3 {
    animation:moveRightThree ease-in 1s forwards; /* Safari and Chrome */
    -webkit-animation:moveRightThree ease-in 1s forwards; /* Safari and Chrome */
}
.globe-front img {
    width: 697px;
    height: 697px;
}
.wrap-start {
    position: absolute;
    z-index: 10;
}




@keyframes moveRightThree {
    0% {
        left: -54px; /*初始状态 透明度为0*/
    }
    50% {
        left: -60px; /*中间状态 透明度为0*/
    }
    100% {
        left: -74px; /*结尾状态 透明度为1*/
    }
}
@-webkit-keyframes moveRightThree { /* Safari 和 Chrome */
    0% {
        left: -54px; /*初始状态 透明度为0*/
    }
    50% {
        left: -60px; /*中间状态 透明度为0*/
    }
    100% {
        left: -74px; /*结尾状态 透明度为1*/
    }
}
@-moz-keyframes moveRightThree { /* Firefox */
    0% {
        left: -54px; /*初始状态 透明度为0*/
    }
    50% {
        left: -60px; /*中间状态 透明度为0*/
    }
    100% {
        left: -74px; /*结尾状态 透明度为1*/
    }
}
@-o-keyframes moveRightThree { /* Opera */
    0% {
        left: -54px; /*初始状态 透明度为0*/
    }
    50% {
        left: -60px; /*中间状态 透明度为0*/
    }
    100% {
        left: -74px; /*结尾状态 透明度为1*/
    }
}

